################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GradeRank-API
/GradeRank-API/obj/Container/VolumeMappings.cache
/GradeRank-API/obj/Container/ImageBuildContext.cache
/GradeRank-API/obj/Container/ContainerRunContext.cache
/GradeRank-API/obj/Container/ContainerName.cache
/GradeRank-API/obj/Container/ContainerId.cache
/GradeRank-API/obj/Container/ContainerDevelopmentMode.cache
/GradeRank-API/obj/project.nuget.cache
/GradeRank-API/obj/project.assets.json
/GradeRank-API/obj/GradeRank-API.csproj.nuget.dgspec.json
/GradeRank-API/obj/Debug/net7.0/GradeRank-API.GeneratedMSBuildEditorConfig.editorconfig
/GradeRank-API/obj/Debug/net7.0/GradeRank-API.csproj.AssemblyReference.cache
/GradeRank-API/obj/Debug/net7.0/GradeRank-API.assets.cache
/GradeRank-Application/obj/project.nuget.cache
/GradeRank-Application/obj/project.assets.json
/GradeRank-Application/obj/GradeRank-Application.csproj.nuget.dgspec.json
/GradeRank-Application/obj/Debug/net7.0/GradeRank-Application.GeneratedMSBuildEditorConfig.editorconfig
/GradeRank-Application/obj/Debug/net7.0/GradeRank-Application.csproj.AssemblyReference.cache
/GradeRank-Application/obj/Debug/net7.0/GradeRank-Application.assets.cache
/GradeRank-Domain/obj/project.nuget.cache
/GradeRank-Domain/obj/project.assets.json
/GradeRank-Domain/obj/GradeRank-Domain.csproj.nuget.dgspec.json
/GradeRank-Domain/obj/Debug/net7.0/GradeRank-Domain.GeneratedMSBuildEditorConfig.editorconfig
/GradeRank-Domain/obj/Debug/net7.0/GradeRank-Domain.assets.cache
/GradeRank-Infrastructure/obj/project.nuget.cache
/GradeRank-Infrastructure/obj/project.assets.json
/GradeRank-Infrastructure/obj/GradeRank-Infrastructure.csproj.nuget.dgspec.json
/GradeRank-Infrastructure/obj/Debug/net7.0/GradeRank-Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/GradeRank-Infrastructure/obj/Debug/net7.0/GradeRank-Infrastructure.csproj.AssemblyReference.cache
/GradeRank-Infrastructure/obj/Debug/net7.0/GradeRank-Infrastructure.assets.cache
/GradeRank-Tests/obj/project.nuget.cache
/GradeRank-Tests/obj/project.assets.json
/GradeRank-Tests/obj/GradeRank-Tests.csproj.nuget.dgspec.json
/GradeRank-Tests/obj/Debug/net7.0/GradeRank-Tests.GeneratedMSBuildEditorConfig.editorconfig
/GradeRank-Tests/obj/Debug/net7.0/GradeRank-Tests.csproj.AssemblyReference.cache
/GradeRank-Tests/obj/Debug/net7.0/GradeRank-Tests.assets.cache
/GradeRank-Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
/GradeRank-API/bin/Debug/net7.0/GradeRank-Infrastructure.pdb
/GradeRank-API/bin/Debug/net7.0/GradeRank-Infrastructure.dll
/GradeRank-API/bin/Debug/net7.0/GradeRank-Domain.pdb
/GradeRank-API/bin/Debug/net7.0/GradeRank-Domain.dll
/GradeRank-API/bin/Debug/net7.0/GradeRank-Application.pdb
/GradeRank-API/bin/Debug/net7.0/GradeRank-Application.dll
/GradeRank-API/bin/Debug/net7.0/GradeRank-API.pdb
/GradeRank-API/bin/Debug/net7.0/GradeRank-API.dll
/GradeRank-API/obj/Debug/net7.0/GradeRank-API.pdb
/GradeRank-API/obj/Debug/net7.0/GradeRank-API.genruntimeconfig.cache
/GradeRank-API/obj/Debug/net7.0/GradeRank-API.dll
/GradeRank-API/obj/Debug/net7.0/GradeRank-API.csproj.FileListAbsolute.txt
/GradeRank-API/obj/Debug/net7.0/GradeRank-API.csproj.CoreCompileInputs.cache
/GradeRank-Application/bin/Debug/net7.0/GradeRank-Domain.pdb
/GradeRank-Application/bin/Debug/net7.0/GradeRank-Domain.dll
/GradeRank-Application/bin/Debug/net7.0/GradeRank-Application.pdb
/GradeRank-Application/bin/Debug/net7.0/GradeRank-Application.dll
/GradeRank-Application/obj/Debug/net7.0/GradeRank-Application.pdb
/GradeRank-Application/obj/Debug/net7.0/GradeRank-Application.dll
/GradeRank-Application/obj/Debug/net7.0/GradeRank-Application.csproj.FileListAbsolute.txt
/GradeRank-Application/obj/Debug/net7.0/GradeRank-Application.csproj.CoreCompileInputs.cache
/GradeRank-Domain/bin/Debug/net7.0/GradeRank-Domain.pdb
/GradeRank-Domain/bin/Debug/net7.0/GradeRank-Domain.dll
/GradeRank-Domain/obj/Debug/net7.0/GradeRank-Domain.pdb
/GradeRank-Domain/obj/Debug/net7.0/GradeRank-Domain.dll
/GradeRank-Domain/obj/Debug/net7.0/GradeRank-Domain.csproj.FileListAbsolute.txt
/GradeRank-Domain/obj/Debug/net7.0/GradeRank-Domain.csproj.BuildWithSkipAnalyzers
/GradeRank-Infrastructure/bin/Debug/net7.0/GradeRank-Infrastructure.pdb
/GradeRank-Infrastructure/bin/Debug/net7.0/GradeRank-Infrastructure.dll
/GradeRank-Infrastructure/bin/Debug/net7.0/GradeRank-Domain.pdb
/GradeRank-Infrastructure/bin/Debug/net7.0/GradeRank-Domain.dll
/GradeRank-Infrastructure/bin/Debug/net7.0/GradeRank-Application.pdb
/GradeRank-Infrastructure/bin/Debug/net7.0/GradeRank-Application.dll
/GradeRank-Infrastructure/obj/Debug/net7.0/GradeRank-Infrastructure.pdb
/GradeRank-Infrastructure/obj/Debug/net7.0/GradeRank-Infrastructure.dll
/GradeRank-Infrastructure/obj/Debug/net7.0/GradeRank-Infrastructure.csproj.FileListAbsolute.txt
/GradeRank-Infrastructure/obj/Debug/net7.0/GradeRank-Infrastructure.csproj.CoreCompileInputs.cache
/.vs/slnx.sqlite
